<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ this.page.meta_title ?: this.page.title }}</title>
        <link>{{ link }}</link>
        <description>{{ this.page.meta_description ?: this.page.description }}</description>
        <atom:link rel="self" href="{{ rssLink }}" type="application/rss+xml" />
        <link rel="first" href="{{ paginationLinks.first }}"/>
        {% if paginationLinks.prev %}<link rel="previous" href="{{ paginationLinks.prev }}"/>{% endif %}
        {% if paginationLinks.next %}<link rel="next" href="{{ paginationLinks.next }}"/>{% endif %}
        <link rel="last" href="{{ paginationLinks.last }}"/>
        {% for post in posts %}
        <item>
            <title>{{ post.title }}</title>
            <link>{{ post.url }}</link>
            <guid>{{ post.url }}</guid>
            <pubDate>{{ post.published_at.toRfc2822String }}</pubDate>
            <description>{{ post.summary }}</description>
        </item>
        {% endfor %}
    </channel>
</rss>
